body { 
	background: #fff;
  	font-family: Arial;
}

header#entete {
	background-color: ;
}

footer#pied-de-page {
	background-color:;
	font-style:italic;
	font-size: 13px;
}

#pied-de-page label {
	font-weight: bold; 
}

#hautdepage {
	color:#437d1c;
	font-size: 12px;
	position: fixed;
	right:1%;
	bottom:1%;
}

nav#menu {
	text-align: center;
	font-weight: bold;
}

.element_menu li {
	display:inline-block;
	padding: 5px;
}

.element_menu li a{
	color:#437d1c;
}

.element_menu li a:hover {
	color:#000;
}

div#bienvenue {
	position: relative;

	color: #437d1c;
	text-align: center;
	width:100%;
}

div#co {
	position: relative;
	margin-left: 42.5%;
	text-align:center;
	width:15%;
	line-height: 30px;
}

div#recherche {
	text-align: center;
}

/* base de donnees */
.tabledonnees {
	margin-left:20%;
	text-align: center;
	width:60%;
	min-width: 640px;
	border-collapse: collapse;
	border:1px solid black;
}

.tabledonnees th {
	padding:5px;
	border:1px solid black;
	background-color: #E0E0E0;
	color: #437d1c;
}

.tabledonnees td {
	font-size: 14px;
	border:1px solid black;
}

/*contraindre les images dans bd pr homogeneisation*/
#td_img img {
	max-width: 300px;
}

div#ajoutsuppr {
	text-align: center;
	line-height: 30px;
}

button#soumettre {
	font-weight: bold;
}

div#acces {
	font-weight: bold;
	margin:100 100 100 100;
}

/*media query pour smartphone*/
@media screen and (max-device-width: 640px) {
	body {
		margin-left:-20%;
	}
	nav#menu {
		margin-left: 20px;
		font-size: 11px;
	}
	div#menu {
		width:10px;
		display: block;
	}
	div#bienvenue{
		color: #437d1c;
		text-align: center;
	}
	#bienvenue h1 {
		font-size: 13px;
	}
	#bienvenue p {
		width: 70%;
		margin-left: 90px;
		font-size: 12px;
	}

	div#co {
		font-size: 11px;
		margin-left: 35%;
	}
	div#ajoutsuppr {
		font-size: 11px;
	}
	div#recherche {
		font-size: 11px;
	}
	footer#pied-de-page {
		margin-left:20%;
		font-size: 11px;
	}
	#hautdepage {
		display :none;
	}
	.hidden {
		display:none;
	}
	.tabledonnees td, th {
		padding:none;
		width: :50px;
		font-size:11px;
	}
	#td_img img {
		max-width: 150px;
	}
}